

    {% extends 'base.html' %}
    {% block body %}
        {% load static %}
        <style>
            .flexy{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        .form1{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            
        }
        form{
            padding:30px;
        }
        .close {
            position: absolute;
            top: 3px;
            right: 8px;
            font-size: 25px;
            color: rgb(255, 255, 255);
            transform: rotate(45deg);
            cursor: pointer;
            text-decoration: none;
            
        }
        .back{
            background-color:rgba(0,0,0,0.4);
            color: white;

        }
        btns:hover{
            background-color:rgba(225,225,225,0.4);
            color:black;
        }
        button{
            background-color:rgb(103, 175, 220) ;
            color:white;
            padding:10px 20px;
        }
    </style>
        <div>
            <h6 style="" class="bg-info text-light m-0 p-2">Multi Ledger Alteration</h6>
            <div class="row container-fluid p-3 m-0 back">
        
            <div class="col-sm-2   m-0 p-0 d-flex">
                <p>Under Group : </p>
                <h6>Group Name</h6>
            </div>
            <div class="col-sm-8   m-0 p-0"></div>
            <div class="col-sm-2   m-0 p-0">
                <h6>For 1-Apr-22</h6>
            </div>

            </div>

            <div style="overflow: scroll ;max-height: 70vh; width: 100%;background-color:rgba(0,0,0,0.4); ">
                <table class="table ">
                    <tr>
                        <th>Sl no.</th>
                        <th>Name of Ledger</th>
                        <th>Credit Limit</th>
                        <th>Credit Period</th>
                        <th>Check for credit Days during Voucher entry</th>
                        
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Alfreds Futterkiste</td>
                        <td>100000</td>
                        <td>3 months</td>
                        <td>1111</td>
                        
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Alfreds Futterkiste</td>
                        <td>100000</td>
                        <td>3 months</td>
                        <td>1111</td>
                        
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Alfreds Futterkiste</td>
                        <td>100000</td>
                        <td>3 months</td>
                        <td>1111</td>
                        
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>Alfreds Futterkiste</td>
                        <td>100000</td>
                        <td>3 months</td>
                        <td>1111</td>
                        
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Alfreds Futterkiste</td>
                        <td>100000</td>
                        <td>3 months</td>
                        <td>1111</td>
                        
                      </tr>
                      

                </table>


            </div>
       
        </div> 
     
    
{% endblock %}